<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adopt</title>

    <link rel="stylesheet" type="text/css" href="../public/css/adopt.css">
    <link rel="stylesheet" type="text/css" href="../public/css/general.css">
    <script type="text/javascript" src="../public/js/adopt.js"></script>
</head>

<body>
    <div class="topnav">
        <div class="text_logo">
            <h2>Explore and Choose!</h2>
        </div>
        <nav class="links" style="--items:1 ;">
            <a href="../views/index.html" class="active">Home</a>
            <span class="line"></span>
        </nav>
    </div>


    <div class="card">
        <div class="form">
            <form>
                <div>
                    <img class="card_photo" src="../imgs/pics/playground.jpg" alt="my portrait">
                </div>
                <p>
                    Click here to search available animals
                </p>
                <a href="../views/farm.html">
                    <button type="submit">Our Farm :)</button>
                </a>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="form">
            <form>
                <p>
                    Enter the following information
                </p>
                <input type="text" required placeholder="ID" id="id" autocomplete="off" />
                <input type="text" required placeholder="Animal Name" id="animal_name" autocomplete="off" />
                <input type="text" required placeholder="Your Name" id="your_name" autocomplete="off" />
                <input type="text" required placeholder="Phone Number" id="phone_number" autocomplete="off" />
                <button type="submit">Adopt</button>
            </form>
        </div>
    </div>


    <footer>
        <p id="contact">Contact us here!</p>
        <div class="contacts_bar">
            <a href="https://web.facebook.com/TOLAnimalSanctuary/about"> <img class="clogo" src="../imgs/icons/fb.png" alt="Facebook"> </a>
            <a href=""> <img class="clogo" src="../imgs/icons/email.png" alt="Email"> </a>
            <a href=""> <img class="clogo" src="../imgs/icons/phone.png" alt="Telephone"> </a>
        </div>
        <p>TOUCH OF LIFE Organization Reg.nr 2897 - 03/5/07 Ministry of Social Affairs Giza- EGYPT
        </p>
    </footer>

</body>

</html>