<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adopt</title>

    <link rel="stylesheet" type="text/css" href="../css/farm.css">
    <!-- <script type="text/javascript" src="../js/adopt.js"></script> -->
</head>

<body>
    <div class="forms-section">
        <div class="forms">

            <div class="card">
                <div class="form">
                    <form>
                        <div>
                            <img src="../imgs/pics/cat1.jpg" alt="cat1">
                        </div>
                        <h3>ID:
                            <p id="id">001</p>
                        </h3>
                        <h3>Name:
                            <p id="name">cat1</p>
                        </h3>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="form">
                    <form>
                        <div>
                            <img src="../imgs/pics/cat2.jpg" alt="cat1">
                        </div>
                        <h3>ID:
                            <p id="id">001</p>
                        </h3>
                        <h3>Name:
                            <p id="name">cat1</p>
                        </h3>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="form">
                    <form>
                        <div>
                            <img src="../imgs/pics/cat1.jpg" alt="cat1">
                        </div>
                        <h3>ID:
                            <p id="id">001</p>
                        </h3>
                        <h3>Name:
                            <p id="name">cat1</p>
                        </h3>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="form">
                    <form>
                        <div>
                            <img src="../imgs/pics/cat2.jpg" alt="cat1">
                        </div>
                        <h3>ID:
                            <p id="id">001</p>
                        </h3>
                        <h3>Name:
                            <p id="name">cat1</p>
                        </h3>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="form">
                    <form>
                        <div>
                            <img src="../imgs/pics/cat1.jpg" alt="cat1">
                        </div>
                        <h3>ID:
                            <p id="id">001</p>
                        </h3>
                        <h3>Name:
                            <p id="name">cat1</p>
                        </h3>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="form">
                    <form>
                        <div>
                            <img src="../imgs/pics/cat2.jpg" alt="cat1">
                        </div>
                        <h3>ID:
                            <p id="id">001</p>
                        </h3>
                        <h3>Name:
                            <p id="name">cat1</p>
                        </h3>
                    </form>
                </div>
            </div>


        </div>
    </div>

    <footer>
        <p id="contact">Contact us here!</p>
        <div class="contacts_bar">
            <a href="https://web.facebook.com/TOLAnimalSanctuary/about"> <img class="clogo" src="../imgs/icons/fb.png" alt="Facebook"> </a>
            <a href=""> <img class="clogo" src="../imgs/icons/email.png" alt="Email"> </a>
            <a href=""> <img class="clogo" src="../imgs/icons/phone.png" alt="Telephone"> </a>
        </div>
        <p>TOUCH OF LIFE Organization Reg.nr 2897 - 03/5/07 Ministry of Social Affairs Giza- EGYPT
        </p>
    </footer>

</body>

</html>