* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: peru;
    margin: 0;
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    outline: 0;
    background: peru;
    width: 100px;
    border: 0;
    margin-top: 10px;
    border-radius: 3px;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
<<<<<<< HEAD
=======
    position : relative;
>>>>>>> a5b1975ea62b26326ced0052e9e0c545f31dc2be
}

button:hover,
button:active,
button:focus {
    background: black;
    color: #fff;
}


/* top nav styles */

.topnav {
    z-index: 1;
    overflow: hidden;
    background-color: #FFEBAD;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    margin: 0;
}

nav {
    padding: 0;
    height: inherit;
}


/* logo pic */

.text_logo {
    margin-left: 10px;
}

.logo a {
    color: blue;
    text-decoration: none;
}


/* links bar style */


/* Appearance */

.links {
    background-color: transparent;
    background-image: linear-gradient(to bottom, #FFF6BF, transparent);
    border-bottom: 1px solid #FFF6BF;
    box-shadow: 0 0 32px #FFF6BF;
    font-size: 2em;
    align-self: center;
}

.links>a {
    color: grey;
    padding: .75em;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}

.links>a:hover {
    background: #ffffff06;
    color: #adf;
}

.links>a.active {
    background-color: #FFEBAD;
    color: black;
}

.links>.line {
    background: #68a;
    height: 1px;
    pointer-events: none;
}


/* The Magic */

.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
    margin-left: auto;
}

.links>.line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}

.links>a:hover~.line {
    opacity: 1;
}

.links>a:nth-of-type(1):hover~.line {
    --index: 1;
}

.links>a:nth-of-type(2):hover~.line {
    --index: 2;
}

.links>a:nth-of-type(3):hover~.line {
    --index: 3;
}

.links>a:nth-of-type(4):hover~.line {
    --index: 4;
}

.links>a:nth-of-type(5):hover~.line {
    --index: 5;
}

.links>a:nth-of-type(6):hover~.line {
    --index: 6;
}

.links>a:nth-of-type(7):hover~.line {
    --index: 7;
}

.links>a:nth-of-type(8):hover~.line {
    --index: 8;
}

.links>a:nth-of-type(9):hover~.line {
    --index: 9;
}

.links>a:nth-of-type(10):hover~.line {
    --index: 10;
}

.links>a:last-of-type:hover~.line {
    --index: var(--items);
}


/* End of links style */